/* ------------------- */
/* Font imports        */
/* ------------------- */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  --clr-purple-400: 273 85% 13%;
  --clr-green-400: 150 100% 63%;
  --clr-gray-400: 271 12% 34%;
  --clr-white: 0 0% 100%;
  --clr-neutral-100: 274 100% 99%;

  --ff-serif: "Fraunces", serif;
  --ff-sans: "Manrope", sans-serif;

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 3.125rem;

  --lh-400: 1.75rem;
  --lh-500: 2.25rem;
  --lh-600: 2.25rem;
  --lh-700: 3rem;
  --lh-800: 3.125rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

@media (min-width: 48em) {
  :root {
    --fs-700: 3rem;
    --fs-800: 3.75rem;

    --lh-700: 3.5rem;
    --lh-800: 3.75rem;
  }
}

@media (min-width: 64em) {
  :root {
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 5rem;

    --lh-400: 2rem;
    --lh-400: 2.5rem;
    --lh-600: 2.5rem;
    --lh-700: 4rem;
    --lh-800: 5rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-sans);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  line-height: var(--lh-400);
  color: hsl(var(--clr-gray-400));
  background-color: hsl(var(--clr-white));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Composition         */
/* ------------------- */
.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

/* ------------------- */
/* Utility             */
/* ------------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-purple-400 {
  background-color: hsl(var(--clr-purple-400));
}
.bg-green-400 {
  background-color: hsl(var(--clr-green-400));
}
.bg-gray-400 {
  background-color: hsl(var(--clr-gray-400));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}

.text-purple-400 {
  color: hsl(var(--clr-purple-400));
}
.text-green-400 {
  color: hsl(var(--clr-green-400));
}
.text-gray-400 {
  color: hsl(var(--clr-gray-400));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-neutral-200 {
  color: hsl(var(--clr-neutral-100));
}

.ff-serif {
  font-family: var(--ff-serif);
  font-variation-settings: "opsz" 144;
}
.ff-sans {
  font-family: var(--ff-sans);
}

.fs-400 {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
}
.fs-500 {
  font-size: var(--fs-500);
  line-height: var(--lh-500);
}
.fs-600 {
  font-size: var(--fs-600);
  line-height: var(--lh-600);
}
.fs-700 {
  font-size: var(--fs-700);
  line-height: var(--lh-700);
}
.fs-800 {
  font-size: var(--fs-800);
  line-height: var(--lh-800);
}

.fw-400 {
  font-weight: var(--fw-400);
}
.fw-600 {
  font-weight: var(--fw-600);
}

.underline {
  text-decoration: underline;
  text-decoration-color: hsl(var(--clr-green-400));
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 3px;
}

/* ------------------- */
/* Block               */
/* ------------------- */
header {
  justify-content: space-between;
  padding: 2rem 1rem 0;
}

.hero {
  text-align: center;
  padding: 4rem 1rem 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-purple-400));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scaleX(3) translateY(-25%);
  z-index: -1;
}

.hero > p {
  max-width: 10ch;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

.hero > img {
  max-width: 20rem;
  margin-inline: auto;
  margin-top: 4rem;
}

.benefits {
  --grid-gap: 2.5rem;
  text-align: center;
  padding: 4rem 1rem 4.5rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  counter-reset: benefits;
}

.benefits::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-neutral-100));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scaleX(3);
  z-index: -1;
}

.benefits > div {
  --grid-gap: 1rem;
  justify-items: center;
  grid-template-areas:
    "number"
    "title"
    "description";
}

.benefits > div::before {
  grid-area: number;
  counter-increment: benefits;
  content: counter(benefits);
  border: 1px solid hsl(var(--clr-gray-400));
  border-radius: 50%;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: 3rem;
  font-size: var(--fs-500);
  line-height: var(--fs-500);
  color: hsl(var(--clr-purple-400));
}

.benefits > div h3 {
  grid-area: title;
  margin-top: 0.5rem;
}

.benefits > div p {
  grid-area: description;
}

.community {
  padding: 4rem 1rem;
}

.access > img {
  max-width: 17.5rem;
  margin-inline: auto;
}

.access > div {
  padding: 2rem;
  text-align: center;
  margin-top: -3rem;
  position: relative;
}

.access > div p {
  margin-block: 1rem 1.5rem;
}

.social > img {
  margin-inline: auto;
  margin-top: 4rem;
}

.social > ul {
  --flex-gap: 1.75rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3.5rem;
}

.social > ul li a:hover img,
.social > ul li a:focus img {
  filter: brightness(0) saturate(100%);
}

@media (min-width: 48em) {
  header {
    padding: 2rem 2.5rem 0;
  }

  .hero {
    padding: 3.5rem 2.5rem 0;
  }

  .hero::before {
    transform: scaleX(3) translateY(-25%);
  }

  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./assets/images/bg-pattern-1.svg),
      url(./assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: left -225px top 0%, right -95px top 50%;
    pointer-events: none;
  }

  .hero > img {
    max-width: 32rem;
    margin-top: 3.5rem;
  }

  .benefits {
    --grid-gap: 3rem;
    text-align: start;
    padding: 3.5rem 6rem 6.5rem;
  }

  .benefits > div {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "number title"
      "number description";
    justify-items: start;
    align-items: center;
    column-gap: 2rem;
  }

  .benefits > div h3 {
    margin-top: 0;
  }

  .community {
    padding: 6.25rem 2.5rem;
    position: relative;
    max-width: 48rem;
    margin-inline: auto;
  }

  .community::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./assets/images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    background-position: bottom 25% right 50px;
    pointer-events: none;
  }

  .access > img {
    margin-inline: unset;
  }

  .access > div {
    padding: 3rem 3.5rem 3.5rem;
    margin-top: -8rem;
    margin-left: auto;
    text-align: start;
    max-width: 32rem;
  }

  .access > div p {
    margin-block: 1.5rem;
  }

  .social > img {
    margin-top: 5rem;
  }
}

@media (min-width: 64em) {
  /* todo */
}

/* ------------------- */
/* Exception           */
/* ------------------- */
.button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  line-height: var(--lh-400);
}

.button[data-variant="primary"] {
  background-color: hsl(var(--clr-green-400));
  border: 1px solid hsl(var(--clr-green-400));
  color: hsl(var(--clr-purple-400));
  padding: 0.75rem 1.5rem;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

.button[data-variant="primary"]:hover {
  background-color: hsl(var(--clr-purple-400));
  color: hsl(var(--clr-green-400));
}

.button[data-variant="secondary"] {
  color: hsl(var(--clr-white));
  border-bottom: 3px solid hsl(var(--clr-green-400));
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

.button[data-variant="secondary"]:hover {
  color: hsl(var(--clr-green-400));
}
